body {
    background-image: url('../assets/img/clouds/1.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.shown {
    cursor: no-drop;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #d1d1d1;
    border: none;
    text-align: center;
}

.dark {
    background-image: url('../assets/img/clouds/2.png');
    background-size: cover;
    color: rgb(25, 0, 255);
}

button {
    background: none;
    border-radius: 3px;
    border: none;
    width: max-content;
}

button.dark {
    background: none;
    border-radius: 3px;
    width: max-content;
}

.smiley-btn img {
    height: 90px;
    margin-bottom: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    width: min-content;
    margin: auto;
}

.controls-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background: #152c44;
    width: 100%;
    color: white;
    height: 50px;
}

h3 {
    font-family: Assistant, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin: 15px auto;
}

.logo img {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 500px;
    align-self: center;
}

.hints {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hints button {
    background: none;
}

table {
    margin-bottom: 150px;
    width: max-content;
    height: max-content;
    /* position: absolute; */
}

.cell {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #d1d1d1;
    border-width: 3px;
    border-style: solid;
    border-color: white #9e9e9e #9e9e9e white;
    text-align: center;
}

.cell:hover {
    background-color: #b1afaf;
    width: 30px;
    height: 30px;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-color: white #9e9e9e #9e9e9e white;
    text-align: center;
}

.safe {
    background-color: rgb(47, 255, 241);
}

.highlight {
    background-color: #b1afaf;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-color: white #9e9e9e #9e9e9e white;
    text-align: center;
}

.highlight.dark {
    background-color: #b1afaf;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-color: white #9e9e9e #9e9e9e white;
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #152c44;
    color: white;
    font-family: Assistant, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    bottom: 0;
    position: fixed;
}

.levels {
    margin: 15px auto;
}

.ctrls img {
    height: 35px;
}

#one {
    color: green;
}

#two {
    color: rgb(255, 200, 1);
}

#three {
    color: rgb(255, 98, 1);
}

#four {
    color: rgb(255, 1, 1);
}
